@font-face {
    font-family: CyberpunkWaifus;
    src: url(./assets/fonts/CyberpunkWaifus.ttf);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: darkblue;
    color: white;
    font-family: "CyberpunkWaifus";
    font-size: 2rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
}

.temp-border {
    border: 1px solid red;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.logo {
    display: flex;
    padding: 50px;
}

.tab {
    display: flex;
    gap: 5px;
    margin: 8px;
}

.home {

}

.menu {

}

.about {

}

.body {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.welcome-message {
    padding: 8px;
}

.body-img {

}

.recommended-drinks {
    
}