@font-face {
    font-family: CyberpunkWaifus;
    src: url(./assets/fonts/CyberpunkWaifus.ttf);
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: darkblue;
    color: white;
    font-family: "CyberpunkWaifus";
    font-size: 1.8rem;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
}

.temp-border {
    border: 1px solid red;
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

img.logo {
    display: flex;
    padding: 25px 50px;
    min-width: 30%;
}

.tab {
    display: flex;
    gap: 5px;
    margin: 8px;
}

.home {

}

.menu {

}

.about {

}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.headline {
    font-size: 3rem;
    align-self: flex-start;
    padding: 32px;
}

.text {
    padding: 0 48px;
}

img.body-img{
    min-width: 50%;
}

.recommended-drinks-container {
    position: relative;
    background-color: darkred;
    width: 100%;
    height: 110px;
}

.recommended-drinks {
    position: absolute;
    bottom: 0%;
    background-image: 
        url(./assets/img/drinks/Bad_Touch.png), 
        url(./assets/img/drinks/Brandtini.png), 
        /* url(./assets/img/drinks/BlueFairy.png), */
        url(./assets/img/drinks/Fluffy_Dream.png),
        url(./assets/img/drinks/Marsblast.png),
        url(./assets/img/drinks/Cobalt_Velvet.png),
        url(./assets/img/drinks/FlamingMoai.png),
        url(./assets/img/drinks/Piano_Man.png),
        url(./assets/img/drinks/Suplex.png),
        url(./assets/img/drinks/Bleeding_Jane.png),
        url(./assets/img/drinks/GutPunch.png)
    ;
    background-position: 
        0% 50%,
        10% 50%, 
        20% 50%, 
        30% 50%, 
        40% 50%,
        50% 50%,
        60% 50%,
        71% 50%,
        81% 50%,
        92% 50%
    /* 100% 50% */
    ;
    background-repeat: no-repeat;
    width: 100%;
    height: 110px;
    animation: right-to-left 10s linear infinite;
}

@keyframes right-to-left {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

.recommended-drinks.second {
    animation: right-to-left2 10s linear infinite
}

@keyframes right-to-left2 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.drink-container {
    margin: 48px 0;
    width: 95%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 50px;
}

.drink {
    background-color: darkred;
    width: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.drink-name {
    align-self: flex-start;
}

img.drink-img {
    height: 64px;
}

.price {
    font-size: 1.5rem;
    align-self: flex-end;
}

.vid {
    width: 600px;
    height: auto;
}

.btn {
    background-color: darkred;
    color: white;
    border-style: none;
}

.offer {
    display: grid;
    width: 60%;
    grid-template-columns: 3fr 4fr;
    margin: 16px 0;
}

.offer > div {
    background-color: red;
}

.portrait {
    width: 100%;
    justify-self: center;
    align-self: center;
}

.sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 24px 16px;
    gap: 16px;
}

@media screen and (max-width: 1500px) {
    .plush.text {
        color: aqua;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1200px) {
    .plush.text {
        color: aqua;
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {
    .offer {
        display: flex;
        flex-direction: column;
    }
    .plush.text {
        color: aqua;
        font-size: 1.5rem;
    }
}

img.plush-img {
    height: auto;
    width: 50%;
}

